@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title Us</h2>

<script>
    function make()
    {
        document.getElementById("sizingaddon1").value = " ";
        alert("Resposne Submitted");
    }

</script> 
<div class="container" style="text-align:center">
    <div style="margin-left:-150px;">
        <span id="sizing-addon1" style="font-size:large;">Your Feedback:</span>
   
        <textarea rows="4" cols="50" id="sizingaddon1">
              </textarea>
        </div>

    <br />
    <br />
 
   
    <div style="text-align:center; margin-left:-50px;" class="container">
        <button type="button" class="btn btn-default" onclick="make()" > Submit </button>
    </div>
</div>